# OSX leaves these everywhere on SMB shares
._*

# OSX trash
.DS_Store

/.idea

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Kitchen directory
**/.kitchen/*

# Crash log files
crash.log
